{{page-title "Index"}}
<AuToolbar @border="bottom" @size="large" @nowrap="{{true}}" as |Group|>
  <Group>
    <div>
      <AuHeading @skin="2" data-test-loket="subsidiebeheer-page-title">Subsidie types</AuHeading>
      <p>Hier vindt u een overzicht van alle subsidie types voor uw bestuur.</p>
    </div>
  </Group>
</AuToolbar>